#
# Copyright (c) 2022 Lucas Dietrich <ld.adecy@gmail.com>
#
# SPDX-License-Identifier: Apache-2.0
#

mainmenu "ha"

config HA_EMULATED_DEVICES
        bool "Enable HA Emulated Devices"
        default n
        depends on !CLOUD
        help
                Enable HA Emulated Devices.

# TODO: Not fully implemented yet
config HA_STATS
        bool "Enable HA Stats"
        default y
        help
                Enable HA Stats.

# TODO: Not fully implemented yet
config HA_DEVICE_STATS
        bool "Enable HA Stats for individual devices"
        default y
        depends on HA_STATS
        help
                Enable HA Device Stats.