#
# Copyright (c) 2022 Lucas Dietrich <ld.adecy@gmail.com>
#
# SPDX-License-Identifier: Apache-2.0
#

menuconfig APP_HA
        bool "Enable Home Automation support"
        default y
        help
                Enable Home Automation module features

if APP_HA

config APP_HA_EMULATED_DEVICES
        bool "Enable HA Emulated Devices"
        default n
        depends on !APP_CLOUD
        help
                Enable HA Emulated Devices.

# TODO: Not fully implemented yet
config APP_HA_STATS
        bool "Enable HA Stats"
        default y
        help
                Enable HA Stats.

# TODO: Not fully implemented yet
config APP_HA_DEVICE_STATS
        bool "Enable HA Stats for individual devices"
        default y
        depends on APP_HA_STATS
        help
                Enable HA Device Stats.

config APP_HA_DEVICES_MAX_COUNT
        int "Maximum number of HA devices"
        default 128 if QEMU_TARGET || APP_HA_EMULATED_DEVICES
        default 32
        range 1 256
        help
                Maximum number of HA devices.

config APP_HA_EVENTS_MAX_COUNT
        int "Maximum number of HA events"
        default 256 if QEMU_TARGET || APP_HA_EMULATED_DEVICES
        default 64
        range 1 512
        help
                Maximum number of HA devices.

config APP_HA_SUBSCRIPTIONS_MAX_COUNT
        int "Maximum number of HA subscriptions"
        default 8
        range 1 32
        help
                Maximum number of HA devices.

config APP_HA_CANIOT_CONTROLLER
        bool "Enable CANIOT controller (DEPRECATED)"
        default n
        depends on APP_CAN_INTERFACE || APP_HA_EMULATED_DEVICES
        depends on CANIOT_LIB
        help
                Enable CANIOT controller redirection for CAN messages

endif