#
# Copyright (c) 2022 Lucas Dietrich <ld.adecy@gmail.com>
#
# SPDX-License-Identifier: Apache-2.0
#

mainmenu "ha"

config HA_EMULATED_DEVICES
        bool "Enable HA Emulated Devices"
        default n
        depends on !CLOUD
        help
                Enable HA Emulated Devices.
