#
# Copyright (c) 2022 Lucas Dietrich <ld.adecy@gmail.com>
#
# SPDX-License-Identifier: Apache-2.0
#

menuconfig APP_CANTCP_SERVER
        bool "Enable CANTCP server (DEPRECATED)"
        default n
        help
                Enable CANTCP server thread (for CAN over TCP)