[submodule "modules/caniot-lib"]
	path = modules/caniot-lib
	url = https://github.com/lucasdietrich/caniot-lib.git
[submodule "modules/lua"]
	path = modules/lua
	url = git@github.com:lucasdietrich/lua.git
	branch = zephyr-lua
[submodule "scripts/caniot-sdk"]
	path = scripts/caniot-sdk
	url = https://github.com/lucasdietrich/canot-sdk.git
	branch = main
[submodule "fs/web"]
	path = fs/web
	url = git@github.com:lucasdietrich/caniot-controller-webapp.git
[submodule "modules/embedc-url"]
	path = modules/embedc-url
	url = https://github.com/lucasdietrich/embedc-url
