# SPDX-License-Identifier: Apache-2.0

mainmenu "caniot-controller"

# Your application configuration options go here

# Sources Kconfig.zephyr in the Zephyr root directory.
#
# Note: All 'source' statements work relative to the Zephyr root directory (due
# to the $srctree environment variable being set to $ZEPHYR_BASE). If you want
# to 'source' relative to the current Kconfig file instead, use 'rsource' (or a
# path relative to the Zephyr root).

config DISCOVERY_SERVER
	bool "Enable discovery server"
        default y
	help
	        Enable UDP discovery server on port 5000

config DISCOVERY_SERVER_LOG_LEVEL
        int "UDP discovery server log level"
        default 2
        range 0 4
        depends on DISCOVERY_SERVER
        help
                NONE(0) ERR(1) WRN (2) INF(3) DBG(4)

config HTTP_SERVER_NONSECURE
        bool "Allow non secure HTTP server"
        default y

config MAX_HTTP_CONNECTIONS
        int "Maximum number of HTTP connections"
        default 3
        range 0 5
        help
                Maximum number of HTTP connections supported by the HTTP server

config SYSTEM_MONITORING
        bool "Enable system monitoring"
        select CONFIG_MBEDTLS_MEMORY_DEBUG
        default n
        help
                Enable system monitoring e.g. (mbedTLS heap usage, ...)

config CANTCP_SERVER
        bool "Enable CANTCP server"
        default n
        help
                Enable CANTCP server thread (for CAN over TCP)

config CANIOT_CONTROLLER
        bool "Enable CANIOT controller"
        default n
        help
                Enable CANIOT controller redirection for CAN messages

# artificaly enable HAL_CRC drivers from STM32CUBE
# read : https://github.com/zephyrproject-rtos/zephyr/issues/37543
config MY_STM32_HAL
        bool "Enable STM32 HAL drivers (custom)"
        default n
        depends on SOC_FAMILY_STM32
        select USE_STM32_HAL_CRC
        select USE_STM32_HAL_GPIO

source "Kconfig.zephyr"