#
# Copyright (c) 2022 Lucas Dietrich <ld.adecy@gmail.com>
#
# SPDX-License-Identifier: Apache-2.0
#

menu "Application configuration: CANIOT Controller"

# Your application configuration options go here

# Sources Kconfig.zephyr in the Zephyr root directory.
#
# Note: All 'source' statements work relative to the Zephyr root directory (due
# to the $srctree environment variable being set to $ZEPHYR_BASE). If you want
# to 'source' relative to the current Kconfig file instead, use 'rsource' (or a
# path relative to the Zephyr root).

rsource "./src/cantcp/Kconfig"
rsource "./src/dfu/Kconfig"
rsource "./src/http_server/Kconfig"
rsource "./src/discovery_server/Kconfig"
rsource "./src/lua/Kconfig"
rsource "./src/ha/Kconfig"
rsource "./src/creds/Kconfig"
rsource "./src/cloud/Kconfig"
rsource "./src/fs/Kconfig"
rsource "./src/ble/Kconfig"
rsource "./src/can/Kconfig"
rsource "./src/mbedtls_config/Kconfig"

menu "Miscellaneous"

config APP_SYSTEM_MONITORING
        bool "Enable system monitoring"
        select CONFIG_MBEDTLS_MEMORY_DEBUG
        default n
        help
                Enable system monitoring e.g. (mbedTLS heap usage, ...)

config APP_BIG_BUFFER_TO_CCM
        bool "Place big buffers in CCM memory"
        # depends on CONFIG_STM32_CCM
        # depends on SOC_SERIES_STM32F4X
        default n
        help
                Place application big buffer in CCM location

config APP_PRINTF_1SEC_COUNTER
        bool "Enable 1 second counter in printf"
        default n
        depends on QEMU_TARGET
        help
                Enable 1 second counter in printf

# artificaly enable HAL_CRC drivers from STM32CUBE
# read : https://github.com/zephyrproject-rtos/zephyr/issues/37543
config MY_STM32_HAL
        bool "Enable STM32 HAL drivers (custom)"
        default n
        depends on SOC_FAMILY_STM32
        select USE_STM32_HAL_CRC
        select USE_STM32_HAL_GPIO
        
endmenu

endmenu # caniot-controller

menu "Zephyr RTOS Configuration"

source "Kconfig.zephyr"

endmenu