#
# Copyright (c) 2022 Lucas Dietrich <ld.adecy@gmail.com>
#
# SPDX-License-Identifier: Apache-2.0
#

mainmenu "caniot-controller"

# Your application configuration options go here

# Sources Kconfig.zephyr in the Zephyr root directory.
#
# Note: All 'source' statements work relative to the Zephyr root directory (due
# to the $srctree environment variable being set to $ZEPHYR_BASE). If you want
# to 'source' relative to the current Kconfig file instead, use 'rsource' (or a
# path relative to the Zephyr root).

rsource "./src/http_server/Kconfig"
rsource "./src/lua/Kconfig"
rsource "./src/ha/Kconfig"
rsource "./src/creds/Kconfig"
rsource "./src/cloud/Kconfig"

config DISCOVERY_SERVER
	bool "Enable discovery server"
        default y
	help
	        Enable UDP discovery server on port 5000

config DISCOVERY_SERVER_LOG_LEVEL
        int "UDP discovery server log level"
        default 2
        range 0 4
        depends on DISCOVERY_SERVER
        help
                NONE(0) ERR(1) WRN (2) INF(3) DBG(4)

config HTTP_SERVER
	bool "Enable HTTP server"
        default y
	help
	        Enable HTTP server features (webserver, REST API, prometheus, etc.)

config CREDENTIALS_MANAGER
        bool "Enable credentials manager"
        default y
        help
                Enable credentials manager features (certificates/key manager)

# TODO: dependencies
config HA
        bool "Enable Home Automation module"
        default y
        help
                Enable Home Automation module features

config CLOUD
        bool "Enable cloud"
        default y
        depends on CREDENTIALS_MANAGER
        help
                Enable cloud features (AWS, Azure, GCP, etc.)

config CAN_INTERFACE
        bool "CAN interface"
        default y
        help
                The CAN interface to use for the CANIOT controller.

config BLE_CONTROLLER
        bool "Enable BLE controller"
        default y

config SYSTEM_MONITORING
        bool "Enable system monitoring"
        select CONFIG_MBEDTLS_MEMORY_DEBUG
        default n
        help
                Enable system monitoring e.g. (mbedTLS heap usage, ...)

config CANTCP_SERVER
        bool "Enable CANTCP server (DEPRECATED)"
        default n
        help
                Enable CANTCP server thread (for CAN over TCP)

config CANIOT_CONTROLLER
        bool "Enable CANIOT controller (DEPRECATED)"
        default n
        depends on CAN_INTERFACE || HA_EMULATED_DEVICES
        depends on CANIOT_LIB
        help
                Enable CANIOT controller redirection for CAN messages
                
# artificaly enable HAL_CRC drivers from STM32CUBE
# read : https://github.com/zephyrproject-rtos/zephyr/issues/37543
config MY_STM32_HAL
        bool "Enable STM32 HAL drivers (custom)"
        default n
        depends on SOC_FAMILY_STM32
        select USE_STM32_HAL_CRC
        select USE_STM32_HAL_GPIO

config DFU
        bool "Enable DFU"
        default n
        depends on BOOTLOADER_MCUBOOT && IMG_MANAGER
        help
                Enable DFU features

if MBEDTLS
config MBEDTLS_CUSTOM_HEAP_SIZE
        int "mbedTLS heap size"
        default 65536
        range 0 65536
        help
                Set mbedTLS heap size in bytes

config MBEDTLS_CUSTOM_HEAP_CCM
        bool "Place mbedTLS in CCM location"
        default y
        help
                Place mbedTLS in CCM location
endif 


config APP_BIG_BUFFER_TO_CCM
        bool "Place application big buffers in CCM memory"
        # depends on CONFIG_STM32_CCM
        # depends on SOC_SERIES_STM32F4X
        default n
        help
                Place application big buffer in CCM location

config APP_PRINTF_1SEC_COUNTER
        bool "Enable 1 second counter in printf"
        default n
        depends on QEMU_TARGET
        help
                Enable 1 second counter in printf

source "Kconfig.zephyr"
