#include "dt-bindings/pinctrl/stm32-pinctrl-common.h"

&can1 {
        status = "okay";
        pinctrl-0 = <&can1_rx_pd0 &can1_tx_pd1>;
        bus-speed = <500000>;

        sample-point = <875>; /* recommended value */
        sjw = <0x1>;
};

/ {
        aliases {
                led-net = &green_led_1;
                led-thread = &red_led_1;
                led-can = &blue_led_1;
                sw0 = &user_button;

		ipc-uart = &uart7;
		ipc-uart-7 = &uart7;
		ipc-uart-8 = &uart8;
        };

        soc {
		// ahb1
		crc1: crc@40023000 {
			compatible = "st,stm32-crc";
			reg = <0x40023000 0x400>;
			label = "STM32_CRC";
			status = "okay"; // okay
		};
	};
};

/* order matters */
/delete-node/ &boot_partition;
/delete-node/ &storage_partition;
/delete-node/ &slot0_partition;
/delete-node/ &slot1_partition;
/delete-node/ &scratch_partition;

&flash0 {
        // flash size is 0x200000
        partitions {
                compatible = "fixed-partitions";
                #address-cells = <0x1>;
                #size-cells = <0x1>;
                application_partition: partition@0 {
                        label = "application";
                        reg = <0x0 DT_SIZE_K(1024)>;
                };
                storage_partition: partition@100000 {
			label = "storage";
			reg = <0x100000 DT_SIZE_K(64)>;
		};
                certificates_partition: partition@1e0000 {
                        label = "certificates";
                        reg = <0x1e0000 DT_SIZE_K(128)>;
                };
        };
};

/**
 * https: //docs.zephyrproject.org/2.7.0/reference/devicetree/bindings/pwm/st,stm32-pwm.html
 *
 * According to UM1974 (page 24) and "STM32F427xx STM32F429xx product datasheet" page 76
 * 
 * - LD1 (green user led) is connected to PB0
 * 	- AF1 (alternate function 1) : TIM1_CH2N
 * 	- AF2 : TIM3_CH3 (choosen)
 * 	- AF3 : TIM8_CH2N
 * - LD2 (blue user led) is connected to PB7
 * 	- AF2 : TIM4_CH2 (choosen)
 * - LD3 (red user led) is connected to PB14
 * 	- AF1: TIM1_CH2N
 * 	- AF3 : TIM8_CH2N (choosen)
 * 
 * - "These user LEDs are on when the I/O is HIGH value, and are off when the I/O is LOW."
 * 
 * - https://docs.zephyrproject.org/2.7.0/reference/devicetree/bindings/pwm/st,stm32-pwm.html
 */
&timers3 {
        status = "okay";
        tim3pwm: pwm {
                st,prescaler = <8399>; /* depreciated, should be moved 1 layer above (i.e. to timers3) */
                status = "okay";
                pinctrl-0 = <&tim3_ch3_pb0>;
        };
};

&timers4 {
        status = "okay";
        tim4pwm: pwm {
                st,prescaler = <8399>; /* depreciated */
                status = "okay";
                pinctrl-0 = <&tim4_ch2_pb7>;
        };
};

/* complementary pwm channels not supported by st,stm32-pwm for now 
 * Read : https://github.com/zephyrproject-rtos/zephyr/issues/38629
 */

/*
&timers8 {
        status = "okay";
        tim8pwm: pwm {
                st,prescaler = <8399>;  // depreciated
                status = "okay";
                pinctrl-0 = < &tim8_ch2n_pb14 >; // <&tim8_ch2n_pb14 &tim8_ch2_pc7>; STM32_PINMUX('B', 14, AF3)
        };
};
*/

/ {
        pwmleds {
                compatible = "pwm-leds";
                green_pwm_led: led_pwm_0 {
                        status = "okay";
                        pwms = <&tim3pwm 0x03 1000000 PWM_POLARITY_NORMAL>;
                };
                blue_pwm_led: led_pwm_1 {
                        status = "okay";
                        pwms = <&tim4pwm 0x02 1000000 PWM_POLARITY_NORMAL>;
                };
                /*
                red_pwm_led: led_pwm_2 {
                        status = "okay";
                        pwms = <&tim8pwm 0x02 1000000 PWM_POLARITY_NORMAL>;
                };
                */
        };
};

&dma1 {
	status = "okay";
};

// https://docs.zephyrproject.org/latest/reference/devicetree/bindings/serial/st,stm32-uart.html?highlight=stm32%20uart
&uart8 {
	status = "okay";
	current-speed = <1000000>; // 1000000
	// hw-flow-control;
	pinctrl-0 = <&uart8_tx_pe1 &uart8_rx_pe0>;

	// https://docs.zephyrproject.org/latest/reference/devicetree/bindings/dma/st%2Cstm32-dma-v1.html

	// RM0090 rev 19 page 307/1751 : DMA1
	// UART8_TX chan 5 stream 0
	// UART8_RX chan 5 stream 6

	// see :
	// - tests/drivers/uart/uart_async_api/boards/nucleo_f429zi.overlay
	// or ...
	// - tests/drivers/uart/uart_async_api/boards/disco_l475_iot1.overlay
	// - tests/drivers/uart/uart_async_api/boards/nucleo_f103rb.overlay
	// - tests/drivers/uart/uart_async_api/boards/nucleo_f207zg.overlay


	dmas =  < &dma1 0 5 0x440 0x3>, /* dma channel stream-slot channel-config features */
		< &dma1 6 5 0x480 0x3 >; 
	dma-names = "tx", "rx";
};

/* Read https://github.com/zephyrproject-rtos/zephyr/issues/34763 */

// https://docs.zephyrproject.org/latest/build/dts/api/bindings/serial/st,stm32-uart.html
&uart7 {
	status = "okay";

        // Note: Clean and rebuild when changing this value !
	current-speed = < 1000000 >; // 1200, 115200, 1000000 
	// hw-flow-control;
	pinctrl-0 = <&uart7_tx_pe8 &uart7_rx_pe7>;

	// https://docs.zephyrproject.org/latest/build/dts/api/bindings/dma/st,stm32-dma.html

	// RM0090 rev 19 page 307/1751 : DMA1
	// UART7_TX chan 5 stream 1
	// UART7_RX chan 5 stream 3

	// see :
	// - tests/drivers/uart/uart_async_api/boards/nucleo_f429zi.overlay
	// or ...
	// - tests/drivers/uart/uart_async_api/boards/disco_l475_iot1.overlay
	// - tests/drivers/uart/uart_async_api/boards/nucleo_f103rb.overlay
	// - tests/drivers/uart/uart_async_api/boards/nucleo_f207zg.overlay


        /* dma channel stream-slot channel-config features */
	dmas =  < &dma1 1 5 0x440 0x3>, 
		< &dma1 3 5 0x480 0x3>; 
	dma-names = "tx", "rx";
};

/*
Sample application : https://github.com/zephyrproject-rtos/zephyr/tree/main/samples/sensor/stm32_temp_sensor/boards
 */
/ {
        stm-temp {
                label = "DIE_TEMP";
                compatible = "st,stm32-temp";
                io-channels = < &adc1 18 >;
                // ts-voltage-mv = < 3300 >;
                avgslope = < 25 >;
                v25 = < 760 >;
                status = "okay";
        };
};

/* platformio doesn't show the correct FLASH usage 
 * when using overlay with custom partitions
 * 
 * Morever pio doesn't show CCM usage;
 */
/ {
        chosen {
                zephyr,code-partition = &application_partition;
        };
};

/ {
        chosen {
                zephyr,console = &usart3;
                zephyr,shell-uart = &usart3;
        };
};

// &usart2 {
// 	status = "okay";
//         current-speed = < 115200 >;
// };


/* Second can bus isn't supported yet */
// &can2 {
//         status = "okay";
//         bus-speed = < 500000 >;
// };