#
# Copyright (c) 2022 Lucas Dietrich <ld.adecy@gmail.com>
#
# SPDX-License-Identifier: Apache-2.0
#

mainmenu "cloud"

choice
	prompt "Choose the cloud platform (AWS, Azure, GCP, etc.)"
	default AWS

config AWS
        bool "Enable AWS"
        depends on CLOUD
        help
                Select AWS as the cloud platform.

endchoice

rsource "AWS/Kconfig"