#
# Copyright (c) 2022 Lucas Dietrich <ld.adecy@gmail.com>
#
# SPDX-License-Identifier: Apache-2.0
#

menuconfig APP_CLOUD
        bool "Enable cloud"
        default y
        select APP_CREDENTIALS_MANAGER
        help
                Enable cloud features (AWS, Azure, GCP, etc.)

if APP_CLOUD

rsource "./platforms/aws/Kconfig"

menu "Application"

config APP_CLOUD_TELEMETRY_INTERVAL
		int "Push interval in seconds"
		default 60
		help
				Interval in seconds to push data to the cloud.

endmenu

endif