#
# Copyright (c) 2022 Lucas Dietrich <ld.adecy@gmail.com>
#
# SPDX-License-Identifier: Apache-2.0
#

menu "LUA configuration"

if LUA

config APP_LUA_FS_SCRIPTS_DIR
        string "Directory for Lua scripts"
        default "/RAM:/lua" if QEMU_TARGET
        default "/SD:/lua" if BOARD_NUCLEO_F429ZI
        help
                Location of Lua scripts on the FS.

config APP_LUA_FS_DEFAULT_SCRIPTS
        bool "Populate the filesystem with default Lua file"
        depends on QEMU_TARGET
        default n
        help
                Populate the filesystem with embedded Lua files
                for testing in QEMU

config APP_LUA_AUTORUN_SCRIPTS
        bool "Automatically run embedded Lua scripts"
        depends on APP_LUA_FS_DEFAULT_SCRIPTS
        default n
        help
                Populate the filesystem with autorun Lua file 
                for testing

endif

endmenu