#
# Copyright (c) 2022 Lucas Dietrich <ld.adecy@gmail.com>
#
# SPDX-License-Identifier: Apache-2.0
#

menuconfig APP_CAN_INTERFACE
        bool "CAN interface"
        default y
        help
                Enable CAN interface