&can1 {
        status = "okay";
        pinctrl-0 = <&can1_rx_pd0 &can1_tx_pd1>;
        bus-speed = <500000>;

        sample-point = <875>; /* recommended value */
        sjw = <0x1>;
};

/* order matters */
/delete-node/ &slot0_partition;
/delete-node/ &slot1_partition;
/delete-node/ &scratch_partition;

&flash0 {
        // flash size is 0x200000
        partitions {
                compatible = "fixed-partitions";
                #address-cells = <0x1>;
                #size-cells = <0x1>;
                boot_partition: partition@0 {
                        label = "bootloader";
                        reg = <0x0 DT_SIZE_K(64)>;
                        read-only;
                };
                storage_partition: partition@10000 {
                        label = "storage";
                        reg = <0x10000 DT_SIZE_K(64)>;
                };
                application_partition: partition@20000 {
                        label = "application";
                        reg = <0x20000 DT_SIZE_K(2048 - 64 - 64 - 128)>;
                };
                certificates_partition: partition@1e0000 {
                        label = "certificates";
                        reg = <0x1e0000 DT_SIZE_K(128)>;
                };
        };
};

/* platformio doesn't show the correct FLASH usage 
 * when using overlay with custom partitions
 * 
 * Morever pio doesn't show CCM usage;
 */
/ {
        chosen {
                zephyr,code-partition = &application_partition;
        };
};



/* Second can bus isn't supported yet */
// &can2 {
//         status = "okay";
//         bus-speed = < 500000 >;
// };