#
# Copyright (c) 2022 Lucas Dietrich <ld.adecy@gmail.com>
#
# SPDX-License-Identifier: Apache-2.0
#

mainmenu "credentials"

config APP_CREDS_HARDCODED
	bool "Credentials should be hardcoded"
	default y
	help
		No support for dynamic credentials yet.
                Reserved for development.


choice APP_CREDS_MANAGEMENT
	prompt "Choose how certificates should be managed"
	default APP_CREDS_NONE

config APP_CREDS_NONE
	bool "No dynamic certificates management"
	help
		No dynamic certificates management.

config APP_CREDS_FLASH
	bool "Credentials should be stored in flash"
    depends on FLASH
	depends on FLASH_HAS_DRIVER_ENABLED
	depends on BOARD_NUCLEO_F429ZI
	help
		Enable FLASH support for credentials

config APP_CREDS_FS
	bool "Credentials should be stored in a filesystem"
    depends on FILE_SYSTEM
	help
		Enable filesystem support for credentials

endchoice