#
# Copyright (c) 2022 Lucas Dietrich <ld.adecy@gmail.com>
#
# SPDX-License-Identifier: Apache-2.0
#

mainmenu "http-server"

config HTTP_SERVER_NONSECURE
        bool "Enable non secure HTTP server"
        default y

config HTTP_SERVER_SECURE
        bool "Enable secure HTTPS server"
        depends on CREDENTIALS_MANAGER
        default y

config HTTP_SERVER_VERIFY_CLIENT
        bool "Verify client certificate"
        depends on HTTP_SERVER_SECURE
        default n

config HTTP_MAX_CONNECTIONS
        int "Maximum number of HTTP connections"
        default 3
        range 0 5
        help
                Maximum number of HTTP connections supported by the HTTP server

config HTTP_REQUEST_HEADERS_BUFFER_SIZE
        int "HTTP buffer size dedicated for request headers values"
        default 352
        range 0 2048
        help
                Size of the buffer used to store HTTP request headers values

config HTTP_TEST
        bool "Enable HTTP test"
        default n
        help
                Enable HTTP test for all request, responses

config HTTP_TEST_SERVER
        bool "Enable HTTP test server"
        default n
        help
                Enable test server and corresponding routes

config FILE_UPLOAD_MOUNT_POINT
        string "Default mount point for file upload"
        default "/RAM:" if QEMU_TARGET
        default "/SD:" if BOARD_NUCLEO_F429ZI
        help
                Default mount point for file upload (HTTP file server)