#
# Copyright (c) 2022 Lucas Dietrich <ld.adecy@gmail.com>
#
# SPDX-License-Identifier: Apache-2.0
#

menuconfig APP_HTTP_SERVER
	bool "Enable HTTP server"
        default y
	help
	        Enable HTTP server features (webserver, REST API, prometheus, etc.)

if APP_HTTP_SERVER

config APP_HTTP_THREAD_STACK_SIZE
        int "HTTP thread stack size"
        default 4096
        range 2048 16384
        help
                Size of the stack used by the HTTP thread

config APP_HTTP_SERVER_NONSECURE
        bool "Enable non secure HTTP server"
        default y

config APP_HTTP_SERVER_SECURE
        bool "Enable secure HTTPS server"
        depends on APP_CREDENTIALS_MANAGER
        default y

config APP_HTTP_SERVER_VERIFY_CLIENT
        bool "Verify client certificate"
        depends on APP_HTTP_SERVER_SECURE
        default n

config APP_HTTP_MAX_SESSIONS
        int "Maximum number of HTTP sessions"
        default 5
        range 0 8
        help
                Maximum number of HTTP sessions supported by the HTTP server

config APP_HTTP_SESSION_TIMEOUT
        int "HTTP session timeout in seconds"
        default 30
        range 0 600
        help
                Time in seconds after which an HTTP session is closed if no
                activity is detected

config APP_HTTP_BUFFER_SIZE
        int "HTTP buffer size"
        default 8192
        range 0 65536
        help
                Size of the buffer used to store HTTP request and response

config APP_HTTP_HEADERS_BUFFER_SIZE
        int "HTTP buffer size dedicated for headers"
        default 1024
        range 0 65536
        help
                Size of the buffer used to store HTTP headers

config APP_HTTP_REQUEST_HEADERS_BUFFER_SIZE
        int "HTTP buffer size dedicated for request headers values"
        default 352
        range 0 2048
        help
                Size of the buffer used to store HTTP request headers values

config APP_ROUTE_MAX_DEPTH
        int "Maximum depth of the routes tree"
        default 8
        range 1 10
        help
                Maximum depth of the route tree
                
config APP_HTTP_TEST
        bool "Enable HTTP test functions"
        default n
        help
                Enable HTTP test for all request, responses

config APP_HTTP_TEST_SERVER
        bool "Enable HTTP test server"
        default n
        help
                Enable test server and corresponding resources and routes

config APP_HTTP_URL_MAX_LENGTH
        int "Maximum length of an HTTP URL"
        default 128
        range 32 256
        help
                Maximum length of an HTTP URL

menu "HTTP files server"

config APP_FILES_SERVER_MOUNT_POINT
        string "Default mount point for file upload"
        default "/RAM:" if QEMU_TARGET
        default "/SD:" if BOARD_NUCLEO_F429ZI
        help
                Default mount point for file upload (HTTP file server)

config APP_FILE_ACCESS_HISTORY
        bool "Enable file access history"
        default n
        help
                Enable file access history

config APP_FILE_ACCESS_HISTORY_SIZE
        int "Maximum number of file access history entries"
        depends on APP_FILE_ACCESS_HISTORY
        default 10
        range 1 20
        help
                Maximum number of file access history entries

endmenu

endif